:root{
	--main-color: #222831;
	--main-color-dark: #222831;
	--main-color-light: #eeeeee;
	--main-color-second:#2d4059;
}

body{
	background-color:var(--main-color-second);
	max-width: 100vw;
}

*
{
	font-family: 'League Spartan', sans-serif;
}

/* NAVBAR */

 .navbar{
	background: var(--main-color) !important;
	justify-content: left !important;
}

.navbar-brand img{
	width: 8em;
	margin-right: -0.5rem;
}
.navbar-brand-text{
	font-size: 1.2em;
	margin-bottom: 0;
	color: var(--main-color-light);
	font-family: 'League Spartan', sans-serif;
	margin-bottom: .2rem;
	padding-bottom: 4px;
}

/* BANNER + ABOUT_ME PROFILE */

.banner img {
	max-width: 100%;
	object-fit:cover;
}
.banner{
	padding: 0 !important;
	position:relative;
	height: 40vh;
	width: 100%;
}

.about-me{
	background-color: transparent;
	position: relative;
	text-align: center;
    margin-bottom:40px;

}
.about-me img{
	border-radius: 50%;
	width: 350px;
	height: 350px;
	position: relative;
	border: 15px var(--main-color);
}
 .about-me h1 {
	padding-top: 190px;
    background-color:var(--main-color-light);
	border-radius: 10px;
    padding-bottom:10px;
 }
 .about-me h2 {
	font-style: italic;
    background-color:var(--main-color-light);
    margin-top:30px;
	border-radius: 10px;
	padding:5px;
 }

.about-me-description{
	padding: 2%;
	border-radius: 10px;
    background-color:var(--main-color-light);
}
.about-me-description h3{
	font-family: 'League Spartan', sans-serif;
	font-weight: 400;
	color:var(--main-color-dark);
	font-size: 2.5em;
}

/* SECTIONS */

.section .row{
	background-color: var(--main-color-light);
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.section .panel{
	margin-top:
}

.panel{
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 10px;
	padding: 20px;
	width: 90%;
	height: 90%;
    border-color: white;
}
.section-title{
	font-family: 'League Spartan', sans-serif;
	font-weight: 700;
	color: var(--main-color-dark);
	text-align: center;
}


.card-img-top{
	object-fit: contain;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
}

/* HABILIDADES */
.progress
{
    background-color:white;
}

#skill-html{
	color: var(--main-color);
}
#skill-html .progress-bar{
	background-color: var(--main-color);  
}
#skill-css{
	color:  var(--main-color);
}
#skill-css .progress-bar{
	background-color: var(--main-color);
}

#skill-cplusplus{
	color:  var(--main-color);
}
#skill-cplusplus .progress-bar{
	background-color: var(--main-color);
}

/* FOOTER */

.web-footer{
	background-color: var(--main-color);
	text-align: center;
	color: var(--main-color-light);
	max-width: 100%;
	width: 100%;
	height: 5vh;
}
.web-footer h2{
	font-size: 20px;
	padding-top: 1.1vh;
	display: inline-block;
}

.bi-github
{
color:white;
}

.bi-linkedin
{
color:white;
}